parameters:
    level: 4
    paths:
        - public/
        - src/
        - tests/
    ignoreErrors:
        - 
            message: '#Property .* is never assigned.*#'
            path: src/Entity/*