{% extends 'base.html.twig' %}

{% block title %}New Task{% endblock %}

{% block body %}
    <div class="task-form-container">
        <div class="task-form-card">
            <div class="form-header">
                <h1>Create New Task</h1>
                <a href="{{ path('app_task_index') }}" class="back-link">
                    ← Back to Tasks
                </a>
            </div>

            {{ include('task/_form.html.twig') }}
        </div>
    </div>
{% endblock %}